<div class="container">

<% the_id = params['id'] %>
<h1 class="py-3">Edite le potin</h1>
<br>

<p class="text-left">le potin de <%= link_to Gossip.find(the_id.to_i).user.first_name, user_path(Gossip.find(the_id.to_i).user.id)%> est édité.</p>


<div class="form-group p-5 border rounded">
 <%= form_tag url_for(action: 'update'), method: "post" do %>

    <%= label_tag 'Title', nil, :class => "" %>
    <%= text_field_tag 'title', nil, value: Gossip.find(the_id.to_i).title, :class => "form-control" %>
    <br /> <br />

    <%= label_tag 'Content', nil, :class => "" %>
    <%= text_field_tag 'content', nil, value: Gossip.find(the_id.to_i).content, :class => "form-control"  %>
    <br /> <br />

    <%= submit_tag "valider", :class => "btn btn-primary btn-lg" %>

  <% end %>
   <br /> <br />
<a href="destroy" class="btn btn-danger btn-sm">Supprime ce potin</a>
</div>
<a href="/">Retourne à la page des potins</a>
</div>